<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" type="text/css"
          th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}"/>

    <title>Users </title>
</head>
<body>

<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#" th:href="@{/}">Users management application</a>
    <a class="nav-link active" sec:authorize="isAuthenticated()"> <a th:href="@{/logout}">
        <button class="btn btn-sm btn-outline-secondary" type="button">Logout</button>
    </a></a>
</nav>


<br>

<br><br>

<div class="container">
    <form action="#" th:action="@{/edit}" method="post">

        <button type="submit" name="action" value="block" class="btn btn-warning">block</button>
        <button type="submit" name="action" value="unblock" class="btn btn-success">unblock</button>
        <button type="submit" name="action" value="delete" class="btn btn-danger">delete</button>

        <table class="table">
            <thead class="thead-dark">
            <th scope="col">select</th>
            <th scope="col">id</th>
            <th scope="col">email</th>
            <th scope="col">first name</th>
            <th scope="col">last name</th>
            <th scope="col">register date</th>
            <th scope="col">last login date</th>
            <th scope="col">active</th>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td>
                    <input type="checkbox" name="users" th:value="${user.getEmail()}"/>
                </td>
                <td th:text="${user.getId()}">a</td>
                <td th:text="${user.getEmail()}">a</td>
                <td th:text="${user.getFirstName()}">a</td>
                <td th:text="${user.getLastName()}">a</td>
                <td th:text="${user.getRegisterDate()}">a</td>
                <td th:text="${user.getLastLoginDate()}">a</td>
                <td th:text="${user.isActive()}">a</td>
            </tr>
            <tr>
                <td><input type="checkbox" name="userId" onclick="selectAllUsers(this)"/> select all</td>
            </tr>
            </tbody>
            </th:block>

        </table>


    </form>
    <script src="js/script.js"></script>
</div>


</body>
</html>