<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>


    <title>Users </title>
</head>
<body>

<table>
    <thead>
    <th>select</th>
    <th>id</th>
    <th>email</th>
    <th>first name</th>
    <th>last name</th>
    <th>register date</th>
    <th>last login date</th>
    <th>active</th>
    </thead>
    <tbody>

    <tr th:each="user : ${users}">
        <td><input type="checkbox" name="userId" th:value="${user.getId()}"/></td>
        <td th:text="${user.getId()}">a</td>
        <td th:text="${user.getEmail()}">a</td>
        <td th:text="${user.getFirstName()}">a</td>
        <td th:text="${user.getLastName()}">a</td>
        <td th:text="${user.getRegisterDate()}">a</td>
        <td th:text="${user.getLastLoginDate()}">a</td>
        <td th:text="${user.isActive()}">a</td>
    </tr>

    </tbody>
    </th:block>

</table>
select all:
<input type="checkbox" name="userId" onclick="selectAllUsers(this)"/>

<script src="js/script.js"></script>
</body>
</html>